name: CI/CD for to-do app

on: 
  push:
    branches:
      - main

jobs: 
  build:
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout flow
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with: 
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Run build
        run: npm run build

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with: 
          name: build-artifact
          path: build/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment: github-pages
    steps: 
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: build-artifact
      
      - name: Publish to gh-pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          publish_dir: ./build

        
        
